<mat-toolbar color="primary">
    <span>Hipster Eats</span>
    <span class="fill-space"></span>
    <button mat-icon-button (click)="sideNavElement.toggle()">
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
    <mat-sidenav #sideNavElement position="end">
        <mat-nav-list>
            <router-outlet name="sidebar"></router-outlet>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>