<mat-card class="product-item">
    <img class="product-item-card" mat-card-image src={{path}}>
    <mat-card-content class="product-item-card">
        <span>{{product.title}}</span><br>
        <span>{{product.price  | usCurrency}}</span><br>
        <app-star-rating [rating]="product.rating">
        </app-star-rating>
    </mat-card-content>


    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="handleAddToCart()">Add To Cart</button>
        <button mat-raised-button color="primary" (click)="handleItemDelete()">Delete</button>
    </mat-card-actions>
</mat-card>