<mat-card class="catalog-item">
    <img class="catalog-item-card" mat-card-image src={{path}} height="150px">
    <mat-card-content class="catalog-item-card">
         <span>{{title}}</span><br>
        <!-- {{description}} -->
        <span>{{price  | usCurrency}}</span><br>
        <app-star-rating [rating]="rating">
        </app-star-rating>
    </mat-card-content>


    <mat-card-actions>
        <button mat-raised-button color="primary">Add To Cart</button>
    </mat-card-actions>
</mat-card>