<mat-card class="catalog-item">
    <img class="catalog-item-card" mat-card-image src={{path}}>
    <mat-card-content class="catalog-item-card">
         <span>{{title}}</span><br>
        <span>{{price  | usCurrency}}</span><br>
        <app-star-rating [rating]="rating">
        </app-star-rating>
    </mat-card-content>


    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="handleAddToCart()">Add To Cart</button>
        <button mat-raised-button color="primary" (click)="handleItemDelete()">Delete</button>
    </mat-card-actions>
</mat-card>